#

[defaults]

inventory               = etc
library                 = lib
filter_plugins          = filters
callback_plugins        = callbacks
collections_path        = collections

# this var used by the managed nodes.  this interpreter is installed
# everywhere by python3 role, and the ansible venv that uses it gets
# bootstrapped by cfgnode role.  controller will use python from its
# PATH (setup/venv/).  override remote task python with
# ansible_python_interpreter.  falls back on interpreter_python_fallback
# which has /usr/bin/python as first entry (needed during bootstrap,
# before python3 role) or interpreter_python_distro_map if 'auto'
#
interpreter_python      = /home/config/venv/bin/python3

# TODO: this was removed in ansible pull 82978, so it has no effect.
# we're supposed to set it at play or task level now. for syntax see
# ansible commit e03fcda6d.  motivation for removing this and forcing
# every play to have it remains unclear... we should really be explicit
# and think carefully about fact gathering, see eg ansible issue 73654
#
# default includes hardware and virt, which we don't use except in a
# couple places where we can just run setup.  takes longer to gather,
# known to reboot some embedded boards. also ignores ohai/facter
#
#gather_subset           = !all,min,network

#
host_key_checking       = False
nocows                  = True
jinja2_native           = True

# add the following tags: 'do', 'break', 'continue', and 'debug'
# needs Jinja2 v2.11 for debug statement, the others 2.10
#
jinja2_extensions = jinja2.ext.do, jinja2.ext.loopcontrols, jinja2.ext.debug

# ansible-doc -t callback ansible.builtin.unixy
#stdout_callback         = unixy
stdout_callback         = unixz
bin_ansible_callbacks   = True
display_ok_hosts        = False
display_skipped_hosts   = False
display_failed_stderr   = True
display_args_to_stdout  = True

# stops pesky permissions errors, still safely inside random subdir,
# see "ansible-doc -t shell ansible.builtin.sh", not listed in config
# file keys descriptions, but nonetheless will be used.  they're created
# and removed within using tempfile.mkdtemp() and removal tests for
# '-tmp-' in the path to remove, see plugins/action/__init__.py
# _make_tmp_path and remove_tmp_path
#
remote_tmp              = /tmp

# note: this is only available to the template module, and then only in
# the action, not the lookup, so we'll have to fabricate our own
# variable to use this anywhere outside the template module (issue 15044)
# TODO above was fixed in ansible pull 23408, it now works for lookup,
#   see what has to change, and even if we want to still use this
#
ansible_managed         = 'ansible: {uid}@{host}:{file}'

# this corresponds to ssh ConnectTimeout (TODO does it? verify)
timeout                 = 90

# just use --limit instead of --forks, otherwise default is 5
forks                   = 999999

###

# see ansible-doc -t connection ansible.builtin.ssh
[ssh_connection]

pipelining              = True

# don't use the default ssh args, which sets up its own ControlPersist
# sockets and other settings.  we will handle that in ssh config.  but
# make it quiet so we don't see the continual "shared connection closed"
#
ssh_args                = -q

###

[inventory]

# inventory default: host_list, script, auto, yaml, ini, toml [v2.18]
# 'auto' loads directed inventory plugin for any yaml file with 'plugin' key.
# conversely, yaml inventories are those that do not have a 'plugin' key.
# first match wins.
#
enable_plugins          = host_list, script, yaml, auto
