#
# internal (part of 'ansible' pypi) collections we use today:
#ansible.posix
#ansible.utils
#community.general
#
# internal collections we either did before or may use in near future:
#ansible.netcommon
#cloud.common
#community.docker
#community.grafana
#containers.podman
#google.cloud
#grafana.grafana
#kubernetes.core
#kubevirt.core
#
# get the repo urls and versions to peg from:
#  upsrc/ansible-build-data/<major>/ansible-<major>.<minor>.<patch>-tags.yaml
#
[submodule ".vim"]
	path = .vim
	url = https://github.com/smemsh/.vim
[submodule ".gitcli"]
	path = .gitcli
	url = https://github.com/smemsh/.gitcli
[submodule "srcx/git-reltag"]
	path = srcx/git-reltag
	url = https://github.com/smemsh/git-reltag
[submodule "srcx/utiladm"]
	path = srcx/utiladm
	url = https://github.com/smemsh/utiladm
[submodule "collections/terraform"]
	path = collections/terraform
	url = https://github.com/smemsh/ansible-cloud-terraform
[submodule "collections/posix"]
	path = collections/posix
	url = https://github.com/ansible-collections/ansible.posix
[submodule "collections/utils"]
	path = collections/utils
	url = https://github.com/ansible-collections/ansible.utils
[submodule "collections/general"]
	path = collections/general
	url = https://github.com/ansible-collections/community.general
