#

*.pyc
*.swp
*.swo
.vim*
!.vim
!.vimrc
/var/**

.config
.cache
.gsutil
.lesshst
.terminfo
.rnd

tags

test.*
this*

/.bash_history
/.python_history

/.ansible/**
!/.ansible/**/
!/.ansible/**/plugins/**
/.ansible/**/__pycache__/

/.gnupg/**
!/.gnupg/gpg.conf
!/.gnupg/gpg-agent.conf

/.ssh/**
!/.ssh/config

/venv/**
!/venv/Makefile
!/venv/requirements.in
!/venv/requirements.txt

.terraform*
terraform.tfstate*
!/terraform/.terraform.lock.hcl
