#
---

- name: select_run_method
  set_fact:
    mailtype: "{{mode | default('gmek')}}"

- name: install_postfix
  package:
    name: postfix
    state: present

- name: enable_postfix_service
  service:
    name: postfix
    state: started
    enabled: true

- name: deploy_dnsroute
  when:
    (postfix_do_dnsroute | bool)
    and inventory_hostname_short in groups['plexhost']

  block:
    - name: install_gmail_relay_route_script
      register: ret_copy
      copy:
        src: '{{playbook_dir}}/srcx/utiladm/dnsroute'
        dest: '{{postfix_dnsroute_bindir}}'
        mode: '0755' # keep as string to avoid bugs

    - name: construct_gmail_relay_route_command
      set_fact:
        dnsroutecmd: >-
          {{postfix_dnsroute_bindir}}/{{postfix_dnsroute_name}}
          {{postfix_dnsroute_line}} >/dev/null

    - name: install_gmail_relay_route_cron
      register: ret_cron
      cron:
        name: gmail_relay_route
        job: '{{dnsroutecmd}}'
        user: root
        minute: '*/{{postfix_dnsroute_interval | string}}'
        cron_file: '{{setup_prefix}}-smtproute'

    - name: do_initial_dnsroute_run
      when: (ret_copy.changed | bool) or (ret_cron.changed | bool)
      command: '{{dnsroutecmd}}'

- name: configure_postfix_rcfiles
  include_tasks: rctmpl.yml
  with_fileglob: ['{{role_path}}/tmpl/{{mailtype}}-*.j2']
