#
# {{ansible_managed}}
#

Defaults                                                \
        ignore_dot,                                     \
        !lecture,                                       \
        !insults,                                       \
        !secure_path,                                   \
        !env_editor,                                    \
        !env_reset,                                     \
        !env_delete,                                    \
        !always_set_home,                               \

# from sudo.ws but sudo.rs doesn't like
#       !authenticate,                                  \
#       setenv,                                         \
#       root_sudo,                                      \
#       !stay_setuid                                    \
#       mail_no_host,                                   \
#       mail_no_perms,                                  \
#       tty_tickets,                                    \
#       shell_noargs,                                   \
#       umask=0022,                                     \
#       mailsub="[sudo][%h]",                           \
#       passprompt="password: ",                        \
#       verifypw=always,                                \
#       listpw=never,                                   \
#       logfile=/dev/null,                              \

root ALL = (ALL:ALL) NOPASSWD: ALL
