#
# managed-node python3 venv requirements for ansible
#

wheel           == {{ver_wheel}}
setuptools      == {{ver_setuptools}}

{#

{% if inventory_hostname in groups['vmh'] %}
libvirt-python  == 7.1.0
{% endif %}

{% if inventory_hostname in groups['db'] %}
PyMySQL         == 1.0.2
{% endif %}

#}
