#
{# #}
{% set h = inventory_hostname_short %}
{% set plexnodes = groups['vm'] + groups['vos'] %}
{% set plexnodes = plexnodes | difference(groups['lin']) %}
{% set is_plexnode = true if h in plexnodes else false %}
{% set is_plexhost = true if h in groups['plex'] else false %}
{# #}
{% set address = ansible_eth0.ipv4.address + '/' + ansible_eth0.ipv4.prefix %}
{% set network = address | ansible.utils.ipaddr('1') %}
{% set gateway = network | ansible.utils.ipaddr('address') %}
{% set relayhost = gateway if is_plexnode else postfix_grelay_host %}
{% set relayport = '25' if is_plexnode else '587' %}
{# #}
# rewrite all mail to scott+$shorthostname-$localpart@smemsh.net
# meklar relays to smtp-relay.gmail.com:587 directly, allowed by ip
# plexnodes relay to plexhost:25 directly
# plexhosts relay to smtp-relay.gmail.com:587 via meklar.terra with nat
# plexhosts run utiladm/dnsroute from cron to maintain route via meklar
#
##############################################################################

#
inet_protocols		= ipv4

# defaults that changed with compatibility
respectful_logging	= no
append_dot_mydomain	= yes
compatibility_level	= 3.6

mydestination		=
mynetworks_style	= subnet
relayhost		= [{{relayhost}}]:{{relayport}}
#smtp_host_lookup	= native

# any other egress path should cause an error on attempt
# ($default_transport shall remain for route to $relayhost)
#
local_transport		= error
virtual_transport	= error
relay_transport		= error
fallback_transport	= error

# route all mail to the relay, leaving payload headers unchanged
# (local maps should never be consulted after this mapping)
#
recipient_canonical_classes = envelope_recipient
recipient_canonical_maps = regexp:/etc/postfix/recipient_canonical
local_recipient_maps =
alias_maps =

{% if is_plexhost %}
# these don't seem to have expected result, recipient_canonical is still
# consulted when submitted via smtp and the cleanup lookup to
# trivial-rewrite is for "local" rule (not remote).  instead we use -o
# with a separate cleanup service in master.cf, for smtp-submitted mail
#
local_header_rewrite_clients =
remote_header_rewrite_domain =

{% endif %}
{# #}
# locally generated mail should never bounce, everything is
# relayed, but we do not want it to vanish on misconfiguration
# (monitor for "SOFTBOUNCE" in logs)
#
soft_bounce		= yes

{% if not is_plexnode %}
# encrypt session with gmail relay
#
tls_high_cipherlist		= DEFAULT:-ALL:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES256-SHA
tls_random_exchange_name	= /var/lib/postfix/prng_exch
smtp_tls_mandatory_protocols	= TLSv1.3
smtp_tls_mandatory_ciphers	= high
smtp_tls_security_level		= secure
smtp_tls_CAfile			= /etc/ssl/certs/ca-certificates.crt
smtp_tls_loglevel		= 1

{% endif %}
{# #}
# todo: consider using a fallback relay via smtp auth, in case vpn down
#
smtp_sasl_auth_enable		= no
#smtp_sasl_auth_enable		= yes
#smtp_sasl_password_maps	= hash:/etc/postfix/sasl_auth_map
#smtp_sasl_security_options	= noanonymous

###

# accommodate distro paths and use of alternatives mechanism
#
mail_owner		= postfix
setgid_group		= postdrop
manpage_directory	= /usr/share/man
mailq_path		= /usr/bin/mailq
newaliases_path		= /usr/bin/newaliases
sendmail_path		= /usr/sbin/sendmail
command_directory	= /usr/sbin
daemon_directory	= /usr/lib/postfix/sbin
queue_directory		= /var/spool/postfix
data_directory		= /var/lib/postfix
shlib_directory		= /usr/lib/postfix

# disable scache, unnecessary service for our usage
# TODO: maybe this is fine, it will just try and fail to
# connect to scache if disabled in master.cf?
#
smtp_connection_cache_on_demand = no
